/* listed here in order of appearance on index.html */
.body {
  background-image: url(../imgs/omgBackground.png);
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  cursor: cell;
  padding: 90px 70px 0px 70px;
  /* background-color: black; */
  /* overflow-y: hidden; */
}

.header {
  /* background-color: rgb(0, 0, 72); */
  box-sizing: border-box;
  /* padding-bottom: 20px; */
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}

.logoContainer {
  float: left;
  align-items: center;
}

.omgLogo {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.omgTitleDiv {
  text-align: center;
  margin: 0;
}

.omgTitle {
  font-size: 45px;
  letter-spacing: 5px;
  font-weight: 900;
  color: silver; 
  font-style: bold;
  text-shadow: 6px 3px 10px rgba(255,0,255,1);
}

.mainContainer {
  backdrop-filter: blur( 5px );
  box-shadow: -4px -4px 35px 30px rgba(145, 2, 145, 0.7);
  border: 1px solid magenta;
  width: 80%; 
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 72, 0.9);
  padding: 0;
  border-radius: 30px;
}

.main {
  font-style: normal;
  font-weight: 400;
  padding: 0px 50px 50px 50px;
}

.notSupported {
  color: silver; 
  padding: 20px;
  margin-bottom: 20px;
}

.subheader {
  margin-top: 20px;
  height: auto;
  line-height: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

/* .darkmodeContainer {
  float: right;
  display: flex;
  align-items: center;
  margin: 0;
  color: black;
}

.onoffswitch {
  display: inline-block;
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-left: 10px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  border-radius: 15px;
  transition: border 0.3s ease-in 0s;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "on";
  padding-left: 5px;
  background-color: magenta;
  color: navy; 
}

.onoffswitch-inner:after {
  content: "off";
  padding-right: 2px;
  background-color: navy; 
  color: magenta;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 19px;
  margin: 3px;
  background-color: navy;
  ;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  border-radius: 15px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  border-color: navy;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  border-color: magenta;
} */

.app {
  margin: 0;
}

.commands {
  display: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 0 60px;
  min-width: 600px;
  justify-content: space-around;
  align-items: center;
}

.connectButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.connectButton, .butProgramButton {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  width: 120px;
  height: 120px;
  border-radius: 50%;      
  box-shadow:
  inset 0 0 50px #fff,      /* inner white */
  inset 20px 0 80px #f0f,   /* inner left magenta short */
  inset -20px 0 80px #0ff,  /* inner right cyan short */
  inset 20px 0 300px #f0f,  /* inner left magenta broad */
  inset -20px 0 300px #0ff, /* inner right cyan broad */
  0 0 30px #fff,            /* outer white */
  -10px 0 50px #f0f,        /* outer left magenta */
  10px 0 50px #0ff;         /* outer right cyan */           
}

.connectButton:hover, .butProgramButton:hover {
  color: silver;
  transition: 0.3s;
  cursor: cell;
  border-radius: 50%;
  border: 1px solid silver;
  background: rgb(0, 0, 72);
  box-shadow: inset 16px 16px 32px 5px rgba(255,0,255,1),
              inset -16px -16px 32px 5px rgb(145, 2, 145);
}

.glow {
  transition: 0.3s;
  box-shadow: -4px -4px 30px 7px green;
}

.glow:hover {
  box-shadow: -4px -4px 30px 7px rgb(0, 255, 0);
}

.releaseContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 70px;
}

.releaseVersionItem {
  display: flex;
  border: 1px solid rgb(1, 255, 1);
  border-radius: 10px;
  background-color: rgba(30, 152, 30, 0.68);
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.versionImg {
  width: 100%;
  height: auto;
  max-width: 10vw;
}

.versionLink {
  color: silver; 
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
.versionLink:hover {
  cursor: cell;
}

.progressBar {
  width: 100%;
  height: 24px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 10px auto;
}

.log {
  height: calc(100vh - 330px);
}

.log {
  visibility: hidden;
}

.log {
  margin-top: 20px;
  max-width: 100%;
  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  overflow-x: auto;
  transition : color 0.1s linear;
  padding: 0 50px;
  border: 20px solid #000;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #000;
  color: silver;
}

.footer {
  background-color: rgb(0, 0, 72);
  color: silver; 
  height: 45px;
  line-height: 45px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
}

.left {
  float: left;
  display: flex;
  align-items: center;
}

.right {
  float: right;
  display: flex;
  align-items: center;
  margin: 0;
}

/* .fpsCounter {
  margin-right: 10px;
}

.butClearButton {
  border: 1px solid magenta;
  border-radius: 10px;
  background-color: navy;
  color: silver; 
  font-size: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Share Tech Mono', monospace;
}

.butClearButton:hover {
  color: magenta;
  cursor: cell;
} */

/* input, select, button, label {
  font-weight: 600;
  outline: none;
} */

/* 
.commands, .log {
  transition: height 0.5s;
} */
